<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>com.controller.action.UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectCategory</servlet-name>
        <servlet-class>com.controller.action.SelectCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingleProductView</servlet-name>
        <servlet-class>com.controller.action.SingleProductView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBcart</servlet-name>
        <servlet-class>com.controller.action.DBcart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoadProduct</servlet-name>
        <servlet-class>com.controller.action.LoadProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadProduct</servlet-name>
        <url-pattern>/LoadProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoadCategory</servlet-name>
        <servlet-class>com.controller.action.LoadCategory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadCategory</servlet-name>
        <url-pattern>/LoadCategory</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddCart</servlet-name>
        <servlet-class>com.controller.action.AddCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCart</servlet-name>
        <url-pattern>/AddCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectCategory</servlet-name>
        <url-pattern>/SelectCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingleProductView</servlet-name>
        <url-pattern>/SingleProductView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBcart</servlet-name>
        <url-pattern>/DBcart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
